@import "variables.scss";
@import "reset.scss";

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
}

.visually-hidden:not(:focus):not(:active) {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6em 1.3em;
  color: $invert-text-color;
  background-color: $button-bg-color;
  border-radius: 7px;
}

.title {
  font-size: 41px;
  font-weight: 700;
}


