$text-color: black;
$invert-text-color: #ffffff;
$accent-text-color: #1253a2;
$secondary-text-color: #383838;

$trinary-text-color: #8F8F8F;

$header-bg-color: black;

$main-bg-color: #ffffff;
$card-bg-color: rgba(238, 239, 241, 1);
$button-bg-color: #0584fe;
$input-border-color: #BCBCBC;

$max-width: 1164px;