$text-color: black;
$invert-text-color: #ffffff;
$accent-text-color: #1253a2;
$secondary-text-color: #383838;

$trinary-text-color: #8F8F8F;

$header-bg: linear-gradient(90deg, #000000 30%, #1C2734 73%);
;

$main-bg-color: #ffffff;
$card-bg-color: #FBFCFD;
$card-border-color: #EEEFF1;
$button-bg-color: #0584fe;
$input-border-color: #BCBCBC;

$max-width: 1194px;

$header-gap: 1.7em;

